@import '../../styles/variables.scss';

.favoritedish__wrapper{
  margin: 2% 5%;
  background-color: white;
  border-radius: 10px;
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.favoritedish__body{
  background: #F8F8F8;
  padding:5%;
  width:100%;
  &:hover{
    background: -webkit-linear-gradient(143deg, #a7ceec,#ddf0f4);/* Chrome 10-25, Safari 5.1-6 */                         
    background: linear-gradient(143deg, #a7ceec,#ddf0f4);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                
  }
} 

.favoritedish__body-image{
width: 100%;
height: 50%;
margin: 1% 0;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
display: flex;
justify-content: center;
align-items: center;
}

img{

  width: 100%;
  height: auto;
}

.favoritedish__body-title{
  width: 100%;
  height: 15%;
  margin: 1% 0;
}

.favoritedish__body-description{
  text-align:justify;
  width: 100%;
  height: 35%;
  margin: 4% 0;
}




