@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

$roboto: 'Roboto', sans-serif;

// color
$headerBg: #F2F2F2;
$text-color:#000000;
$bottomBg:#C4C4C4; 
$modalBg: rgba(0,0,0,0.4);

// weight
$headerWeight: Bold;